<!DOCTYPE html>
<html>
    <head>
        <title>{{title}} - microblog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.index.gary.css') }}">
        <link href='http://fonts.googleapis.com/css?family=Electrolize' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="header">
            <div class="container">
                Welcome Luan
                <button id="sign-out" type="button" class="btn btn-sm btn-danger">Sign Out</button>
            </div>
        </div>
        <div id="sidebar">
            <div class="menu">Menu</div>
            <ul>
                <li><a href="job-search.html">Job Search</a></li>
                <li><a href="/">Create a Job</a></li>
                <li><a href="/">Postcode Search</a></li>
            </ul>
        </div>
        <div id="job-search">
            <div class="container">
                <div class="col-md-3 col-md-offset-1">
                    <form class="form">
                        <input type="text" class="form-control" placeholder="Job Search" autofocus>
                    </form>
                </div>
                <button type="button" class="btn btn-sm btn-primary" type="submit">Search</button>
            </div>
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body>
</html>