<!DOCTYPE html>
<html>
    <head>
        <title>{{title}} - microblog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.gary.css') }}">
    </head>
    <body>

        <div class="container">
            <h2 class="form-signin-heading">Login</h2>
            <form class="form">
                <input type="text" class="form-control" placeholder="Username" autofocus>
                <input type="password" class="form-control" placeholder="Password">
                <label class="checkbox">
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
        <!--</div>-->
        <!--<div class="container">
            <div class="col-md-2">.col-md-2</div>
            <div class="col-md-8 col-md-offset-2">.col-md-8 offset 2</div>
            <div class="col-md-2">.col-md-4</div>
        </div>-->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body>
</html>