<!DOCTYPE html>
<html>
<head>
    <title>

    </title>
    <!---<style type="text/css">
        .cus {
            width: 100px;
            float: left;
            background-color: #FFD700;
        }
    </style>-->
    <link rel="stylesheet" type="text/css" href="colour_style.css">

</head>
<body>

<!--<div id="container" style="width:500px">-->

<div id="header" class="header">
    <h1>
        Welcome "Username"
    </h1>
</div> <!-- end of div header -->

<div id="menu" class="menu">
    <b>Menu</b><br>
    <hr>
    Jobs<br>
        -Create Job<br>
        -List Jobs<br>
    Utilities<br>
        -Postcode Search<br>
        -Google Search<br>
    Logout
</div>


<div id="content" class="content">
    Content goes here
</div>

<div id="footer" class="footer">
    Copyright Melbourne Mailing

</div>

</body>
</html>